# Naive Bayes

Naive Bayes is a simple and powerful algorithm for predictive modeling.
Naive Bayes is called naive because it assumes that each input variable is independent.
Is naive Bayes classification or regression?
Na√Øve Bayes is a classification method based on Bayes' theorem that derives the probability of the given feature vector being associated with a label
Naive Bayes has a higher bias but lower variance compared to logistic regression.

Advantages: It is easy and fast to predict the class of the test data set.
It also performs well in multi-class prediction. When assumption of independence holds, a Naive Bayes classifier performs better compare to other models like logistic regression

In [152]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split as tts
import seaborn as sns 
%matplotlib inline

In [114]:
df1 = salary_train = pd.read_csv('SalaryData_Train.csv')

In [115]:
df2 = salary_test = pd.read_csv('SalaryData_Test.csv')

In [116]:
df1.columns

Index(['age', 'workclass', 'education', 'educationno', 'maritalstatus',
       'occupation', 'relationship', 'race', 'sex', 'capitalgain',
       'capitalloss', 'hoursperweek', 'native', 'Salary'],
      dtype='object')

In [117]:
df2.columns

Index(['age', 'workclass', 'education', 'educationno', 'maritalstatus',
       'occupation', 'relationship', 'race', 'sex', 'capitalgain',
       'capitalloss', 'hoursperweek', 'native', 'Salary'],
      dtype='object')

In [118]:
# viewing dimensions of dataset

df1.shape

(30161, 14)

In [119]:
df2.shape

(15060, 14)

In [120]:
df1.head(3)

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K

In [121]:
df2.head(3)

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K

In [122]:
#summary of dataset

In [123]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30161 entries, 0 to 30160
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            30161 non-null  int64
 1   workclass      30161 non-null  object
 2   education      30161 non-null  object
 3   educationno    30161 non-null  int64
 4   maritalstatus  30161 non-null  object
 5   occupation     30161 non-null  object
 6   relationship   30161 non-null  object
 7   race           30161 non-null  object
 8   sex            30161 non-null  object
 9   capitalgain    30161 non-null  int64
 10  capitalloss    30161 non-null  int64
 11  hoursperweek   30161 non-null  int64
 12  native         30161 non-null  object
 13  Salary         30161 non-null  object
dtypes: int64(5), object(9)
memory usage: 3.2+ MB

In [124]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15060 entries, 0 to 15059
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            15060 non-null  int64
 1   workclass      15060 non-null  object
 2   education      15060 non-null  object
 3   educationno    15060 non-null  int64
 4   maritalstatus  15060 non-null  object
 5   occupation     15060 non-null  object
 6   relationship   15060 non-null  object
 7   race           15060 non-null  object
 8   sex            15060 non-null  object
 9   capitalgain    15060 non-null  int64
 10  capitalloss    15060 non-null  int64
 11  hoursperweek   15060 non-null  int64
 12  native         15060 non-null  object
 13  Salary         15060 non-null  object
dtypes: int64(5), object(9)
memory usage: 1.6+ MB

In [125]:
#There are a mixture of categorical and numerical variables in the dataset. Categorical variables have data type object. 
#Numerical variables have data type int64.

In [126]:
#There are 9 categorical variables.
#The categorical variables are given by workclass, education, maritalstatus, occupation, relationship, race, sex, native and salary.
#salary is target variable.

In [127]:
df1.isna().sum()

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary           0
dtype: int64

In [128]:
df2.isna().sum()

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary           0
dtype: int64

In [129]:
#no missing values

In [130]:
string_columns=['workclass','education','maritalstatus','occupation','relationship','race','sex','native']

In [131]:
from sklearn import preprocessing
label_encoder=preprocessing.LabelEncoder()
for i in string_columns:
    salary_train[i]=label_encoder.fit_transform(df1[i])
    salary_test[i]=label_encoder.fit_transform(df2[i])

In [132]:
col_names=list(df1.columns)

In [133]:
col_names

['age',
 'workclass',
 'education',
 'educationno',
 'maritalstatus',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capitalgain',
 'capitalloss',
 'hoursperweek',
 'native',
 'Salary']

In [136]:
X_train=df1[col_names[0:13]]

In [137]:
y_train=df1[col_names[13]]

In [138]:
X_test=df2[col_names[0:13]]

In [139]:
y_test=df2[col_names[13]]

In [87]:
#Naive Bayes

In [88]:
#Gaussian Naive Bayes

from sklearn.naive_bayes import GaussianNB
Gmodel=GaussianNB()
train_pred_gau=Gmodel.fit(train_X,train_Y).predict(train_X)
test_pred_gau=Gmodel.fit(train_X,train_Y).predict(test_x)

In [90]:
train_acc_gau=np.mean(train_pred_gau==train_Y)

In [91]:
train_acc_gau

0.7953317197705646

In [ ]:
#accuracy = 79%

In [92]:
test_acc_gau=np.mean(test_pred_gau==test_y)

In [93]:
test_acc_gau

0.7946879150066402

In [ ]:
#accuracy = 79.4%

In [94]:
#Multinomial Naive Bayes

from sklearn.naive_bayes import MultinomialNB
Mmodel=MultinomialNB()
train_pred_multi=Mmodel.fit(train_X,train_Y).predict(train_X)
test_pred_multi=Mmodel.fit(train_X,train_Y).predict(test_x)

In [96]:
train_acc_multi=np.mean(train_pred_multi==train_Y)

In [97]:
train_acc_multi

0.7729186698053778

In [103]:
#accuracy = 77%

In [104]:
test_acc_multi=np.mean(test_pred_multi==test_y)

In [105]:
test_acc_multi

0.7749667994687915

In [106]:
#accuracy = 77%